@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

body{
  font-family: 'Playfair Display',
  serif;
}

.ant-layout-header {
  background: white;
}
.ant-layout-header .ant-menu {
  display: flex;
  justify-content: flex-end;
  background: white;
}
.ant-layout,
.ant-layout * {
  font-size: 18px;
}
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active {
  color: #fdc500;
}
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu {
  color: #00296b;
}
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
  border-bottom: 2px solid #fdc500;
}
.ant-form-item-label>label {
  height: 50px;
  color: white;
  font-size: 18px;
}
.ant-input {
  font-size: 18px;
  height: 45px;
}
.ant-btn-primary {
  color: black;
  border-color: #ffc500;
  background: #ffc500;
}
.ant-descriptions-title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}
.ant-descriptions-item-label {
  font-weight: 600;
  font-size: 20px;
}
.ant-descriptions-item-content {
  font-size: 18px;
  text-transform: capitalize;
}
.ant-layout-footer {
  padding: 16px 50px;
  color: white;
}
.ant-menu-horizontal>.ant-menu-item a {
  color: #00296b;
}
/* .ant-form {
  width: max-content;
} */
.ant-table-thead>tr>th {
  font-weight: 700;
  font-size: 24px;
}
.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  font-size: 24px;
}
.ant-form .ant-form-item .ant-form-item-label,
.ant-form .ant-form-item .ant-form-item-control {
  max-width: 70%;
}

@media screen and (min-width: 680px) {
  .ant-card-body {
    padding: 24px 30px;
  }
}

@media screen and (min-width: 992px) {
  .ant-card-body {
    padding: 24px 130px;
  }
}